<!doctype html>
<html lang="en">
  <head>
    <title>MVoucher Profit Tracker</title>
    <link rel="stylesheet" href="/static/css/style.css" />
    <link href="https://fonts.googleapis.com/css2?family=Protest+Strike&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Protest+Strike&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Protest+Strike&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    
  </head>
  <body>
    <img src="/static/images/logo.png" alt="Logo" width="550" height="500">
    
    <div id="priceInfoContainer"> 
      <h1>Price Info</h1>
      <img src="/static/images/ada.jpg" alt="ADA Image" width="50" height="50">
      <p id="cardanoPrice">Loading Cardano Price...</p>
      <img src="/static/images/milk.webp" alt="milk Image" width="50" height="50">
      <p id="milkPrice">Loading MILK Price...</p>
    </div>

    <div id="walletInfoContainer">
      <h1>Vault</h1>      
      <p id="walletBalance">Loading Wallet Balance...</p>
    </div>

    <div id="percentageGainContainer"> 
      <h1>Profit Margin</h1>
      <p id="percentageGain">Loading Gains...</p> <!-- Renamed ID for clarity -->
    </div>

    <div id="maxGainContainer"> <!-- Renamed ID for clarity -->
      <h1>Max. Gain</h1>
      <p id="maxGain">Loading Gains...</p> <!-- Renamed ID for clarity -->
      <h1>Max. Cash</h1>
      <p id="maxCash">Loading Gains...</p> <!-- Renamed ID for clarity -->
    </div>    

    <h3>Written by <a href="mailto:btownes@me.com">Brandon Townes</a></h3>
      <p id="footer">Data provided by <a href="http://CoinGecko.com">CoinGecko</a> and <a href="https://blockfrost.dev/">Blockfrost</a></p>
    

    <script src="/static/js/script.js"></script>
  </body>
</html>
  